<form *ngIf="showAddBlog" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      [(ngModel)]="title"
      id="title"
      placeholder="Add Title"
    />
  </div>
  <div class="form-control">
    <label for="author">Author</label>
    <input
      type="text"
      name="author"
      [(ngModel)]="author"
      id="author"
      placeholder="Add Author"
    />
  </div>
  <div class="form-control">
    <label for="content">Content</label>

    <textarea
      matInput
      rows="5"
      cols="40"
      type="text"
      name="content"
      [(ngModel)]="content"
      id="content"
      placeholder="Add Content"
    ></textarea>
  </div>
  <input type="submit" value="Save Blog" class="btn btn-block" />
</form>
